<!DOCTYPE HTML>

<html>

  <head>

    <meta charset="utf-8">

    <title>{% block title %}Gsb{% endblock %}</title>

  </head>

  <body>


    {% block entete %}
    <h1><a href="index.php?uc=accueil">Suivi de la visite médicale</a></h1>
                                                                    
    {% endblock %}


  </body>

</html>