
{% block entete %}
<!DOCTYPE html PUBLIC>
<html >
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
    <title>{% block title %}Gsb{% endblock %}</title>
</head>
  <body>
    <h1><a href="{{ path('Accueil') }}">Suivi de la visite médicale</a></h1>
                                                                    
    {{ include("MPGsbBundle:Accueil:menu.html.twig") }}
	
  </body>

</html>
    {% endblock %}