<div id="menu">
	<ul>
		<li class="first">
			<span class="opener">Comptes-Rendu<b></b></span>
				<ul>
					<li><a href="">Nouveaux</a></li>
					<li><a href="">Consulter</a></li>
				</ul>
		</li>
		<li class="first">
			<span class="opener">Consulter<b></b></span>
				<ul>
					<li><a href="{{ path('Afficher') }}">Médicaments</a></li>
					<li><a href="">Praticiens</a></li>
					<li><a href="">Autres visiteurs</a></li>
				</ul>
		</li>
	</ul>
	<br class="clearfix"/>
</div>